<div class="questions-body">
  <div class="question-summary">
    <% @questions.each do |question| %>
    <div class="stats-container">
      <div class="stats-arrow">
      </div>
      <div class="stats">
        <div class="votes">
          <p><%= question.score %> points</p>
        </div>
        <div class="num-answers">
          <p><%= question.num_answers %> answers</p>
        </div>
        <div class="views">
          <p><%= question.views %> views</p>
        </div>
      </div>
    </div>
    <div class="summary">
      <h3><a href="/questions/<%=question.id%>"><%= question.title %></a></h3>
      <div class="excerpt">
        <%= question.excerpt %>
      </div>
      <div class="tags">
        <% if question.has_tags? %>
          <% question.tags.each do |tag| %>
            <a href="/questions/tagged/<%=tag.name%>" class="post-tag"><%= tag.name %></a>
          <% end %>
        <% end %>
      </div>
      <div class="user-info">
        <div class="question-datetime"><%= question.created_at %></div>
        <div class="post-author"><%= question.user %></div>
        <div class="post-author-details">
          <a href="/users/<%=question.user_id%>"><%= find_username(question.user_id) %></a>
          <span class="reputation-score">4875</span>
          <span class="silver-badge-icon"></span>
          <span class="num-silver-badges">34</span>
          <span class="gold-badge-icon"></span>
          <span class="num-gold-badges">21</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
