<div class = "questions-container">
  <div class = "questions-content">

  <div class = "questions-mainbar">

    <div class = "questions-mainbar-header">
      <span id = "all-questions">All Questions</span>
      <div id="questions-mainbar-header-tabs">
        <a class="tab" id="newest-tab" href="/questions">newest</a>
        <a class="tab" id="featured-tab" href="/questions">featured</a>
        <a class="tab" id="frequent-tab" href="/questions">frequent</a>
        <a class="tab" id="votes-tab" href="/questions">votes</a>
        <a class="tab" id="active-tab" href="/questions">active</a>
        <a class="tab" id="unanswered-tab" href="/questions">unanswered</a>
      </div>
    </div>

    <div class = "questions">
      <% @questions.each do |question| %>
      <div class = "question-summary">

        <div class = "question-statscontainer">
          <div class = "question-stats">
            <div class = "question-num-votes">
              <div class = "question-vote-num"><%= question.score %><div>
              <div class = "question-vote-label">votes<div>
            </div>
            <div class = "question-num-answers">
              <div class = "question-answers-num"><%= question.num_answers %><div>
              <div class = "question-answers-label">answers<div>
            </div>
          </div>
          <div class = "question-views">
            <%= question.views %> views
          </div>
        </div>

        <div class = "question-container">
          <div id = "question-title"><a href="/questions/<%=question.id%>"><%= question.title %></a></div>
          <div class = "question-excerpt"> <%= question.excerpt %> </div>

          <div class = "question-tags">
          <% if question.has_tags? %>
            <% question.tags.each do |tag| %>
                <a href="/questions/tagged/<%=tag.name%>" class="post-tag"><%= tag.name %></a>
            </div>
            <% end %>
          <% end %>

          <div class = "question-date-author-wrapper">
            <div class = "question-user-info">
              <div class = "question-time">asked <%= format_time(question.created_at) %></div>
              <div class = "question-username"><%= find_username(question.user_id) %></div>
              <div class = "question-user-pic"> <img alt = "user picture" src = "#"/></div>
              <span class="reputation-score"><%= rand(10..4500)%></span>
          <span class="gold-badge-icon"></span>
          <span class="num-badges"><%=rand(1..100)%></span>
          <span class="silver-badge-icon"></span>
          <span class="num-badges"><%=rand(1..100)%></span>
          <span class="bronze-badge-icon"></span>
          <span class="num-badges"><%=rand(1..100)%></span>
            </div>
          </div>

        </div>

      </div>
      <% end %>
    </div>
<!-- below tab closes questions mainbar. don't delete it. -->
    </div>




  <div class = "questions-sidebar">
    <p>Awesome sidebar junk here</p>
  </div>

  </div>
</div>
