<div id="content">
  <div id="question-header">
    <h1><%= @question.title %></h1>
  </div>
  <div id="mainbar">
    <div class="question">
      <table>
        <tbody>
          <td class="votecell">
            <div class="vote">
              <a class="upvote-arrow" title="Upvote this question">up vote</a>
              <span class="upvote-count"><%= @question.points %></span>
              <a class="downvote-arrow" title="Downvote this question">down vote</a>
              <a class="star" href="#" title="Favorite this question">favorite</a>
              <div class="favorite-count">
              </div>
            </div>
          </td>
          <td class="postcell">
            <div class="post-text">
              <%= @question.body %>
            </div>
            <div class="post-taglist">
              <% @question.tags.each do |tag| %>
                <a href="/questions/tagged/<%=tag.name%>" class="post-tag"><%= tag.name %></a>
              <% end %>
            </div>
            <table class="post-footer">
              <tbody>

                <tr>

                  <td class="question-links">
                    <div class="post-menu">
                      <a href="/q/<%=@question.id%>/" title="short permalink to this question" class="short-link">share</a>
                      <a href-"/questions/<%=@question.id%>/edit" class="suggest-edit-post">improve this question</a>
                    </div>
                  </td>

                  <td class="question-owner-signature">
                    <div class="user-info">
                      <div class="question-datetime"><%= question.created_at %></div>
                      <div class="post-author"><%= question.user %></div>
                      <div class="post-author-details">
                        <a href="/users/<%=question.user.id%>"><%= question.user.username %></a>
                        <span class="reputation-score">4875</span>
                        <span class="silver-badge-icon"></span>
                        <span class="num-silver-badges">34</span>
                        <span class="gold-badge-icon"></span>
                        <span class="num-gold-badges">21</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <tr>
            <td class="votecell"></td>
            <td>
              <div id="question/<%=@question.id%>/comments" class="comments">
                <% @question.comments.each do |comment| %>
                <tr>
                  <span class="comment-body"><%= comment.body %></span> -
                  <span class="comment-author"><a href="/users/<%=comment.user.id%>"><%= comment.user.username %></a></span>
                  <span class="comment-datetime"><%= comment.created_at %></span>
                </tr>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="answers">
      <table>
        <tbody>
          <td class="votecell">
            <div class="vote">
              <a class="upvote-arrow" title="Upvote this answer">up vote</a>
              <span class="upvote-count"><%= @answer.points %></span>
              <a class="downvote-arrow" title="Downvote this answer">down vote</a>
              <a class="star" href="#" title="Favorite this question">favorite</a>
              <div class="favorite-count">
              </div>
            </div>
          </td>
          <td class="postcell">
            <div class="post-text">
              <%= @question.body %>
            </div>
            <div class="post-taglist">
              <% @question.tags.each do |tag| %>
                <a href="/questions/tagged/<%=tag.name%>" class="post-tag"><%= tag.name %></a>
              <% end %>
            </div>
            <table class="post-footer">
              <tbody>

                <tr>

                  <td class="question-links">
                    <div class="post-menu">
                      <a href="/q/<%=@question.id%>/" title="short permalink to this question" class="short-link">share</a>
                      <a href-"/questions/<%=@question.id%>/edit" class="suggest-edit-post">improve this question</a>
                    </div>
                  </td>

                  <td class="question-owner-signature">
                    <div class="user-info">
                      <div class="question-datetime"><%= question.created_at %></div>
                      <div class="post-author"><%= question.user %></div>
                      <div class="post-author-details">
                        <a href="/users/<%=question.user.id%>"><%= question.user.username %></a>
                        <span class="reputation-score">4875</span>
                        <span class="silver-badge-icon"></span>
                        <span class="num-silver-badges">34</span>
                        <span class="gold-badge-icon"></span>
                        <span class="num-gold-badges">21</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <tr>
            <td class="votecell"></td>
            <td>
              <div id="question/<%=@question.id%>/comments" class="comments">
                <% @question.comments.each do |comment| %>
                <tr>
                  <span class="comment-body"><%= comment.body %></span> -
                  <span class="comment-author"><a href="/users/<%=comment.user.id%>"><%= comment.user.username %></a></span>
                  <span class="comment-datetime"><%= comment.created_at %></span>
                </tr>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>






  </div>
</div>
