<div id="content">
  <div id="question-header">
  </div>
  <div id="mainbar">
    <div class="question">
      <table>
        <tbody>
          <td class="votecell">
            <div class="vote">
              <a class="upvote-arrow" title="Upvote this question">up vote</a>
              <span class="upvote-count"><%= @question.points %></span>
              <a class="downvote-arrow" title="Downvote this question">down vote</a>
              <a class="star" href="#" title="Favorite this question">favorite</a>
              <div class="favorite-count">
              </div>
            </div>
          </td>
          <td class="postcell">
            <div class="post-text">
              <%= @question.body %>
            </div>
            <div class="post-taglist">
              <% @question.tags.each do |tag| %>
                <a href="/questions/tagged/<%=tag.name%>" class="post-tag"><%= tag.name %></a>
              <% end %>
            </div>
            <table class="post-footer">
              <tbody>
                <tr>
                  <td>
                    <div class="post-menu">
                      <a href="/q/<%=@question.id%>/" title="short permalink to this question" class="short-link">share</a>
                      <a href-"/questions/<%=@question.id%>/edit" class="suggest-edit-post">improve this question</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
