<div class="question-show-main">
  <div class="question-header">
    <h1><%= @question.title %></h1>
  </div>

  <div class="vote-div">
    <div class="upvote-arrow" title="Upvote this question"><a href="/questions/<%=@question.id%>/votes/upvote">^</a></div>
    <div class="upvote-count"><%= @question.score %></div>
    <div class="downvote-arrow" title="Downvote this question"><a href="/questions/<%=@question.id%>/votes/downvote">v</a></div>
    <div class="star" href="#" title="Favorite this question">*</div>
    <div class="favorite-count"><%=rand(1..10)%></div>
  </div>

  <div class="question-body">
    <p><%= @question.body %></p>
    <div class="post-user-info">
      <span class="post-username"><a href="/users/<%=@question.user_id%>"><%= find_username(@question.user_id) %></a></span>
    </div>
  </div>

  <div class="question-comments">
    <% @question.comments.each do |comment| %>
    <div class="individual-question-comment">
      <span class="question-comment-body"><%= comment.body %> - </span>
      <span class="question-comment-author"><a href="/users/<%=comment.user_id%>"><%= find_username(comment.user_id) %></a></span>
      <span class="question-comment-created-at"><%= format_time(comment.created_at) %></span>
    </div>
    <% end %>
  </div>

  <div class="answers-header">
    <h2><%= @answers.count %> Answers</h2>
  </div>

  <div class="question-answers">
  <% @answers.each do |answer| %>
    <div class="vote-div">
      <div class="upvote-arrow" title="Upvote this answer"><a href="/answers/<%=answer.id%>/votes/upvote">^</a></div>
      <div class="upvote-count"><%= answer.score %></div>
      <div class="downvote-arrow" title="Downvote this answer"><a href="/answers/<%=answer.id%>/votes/downvote">v</a></div>
    </div>
    <div class="individual-answer">
      <p><%= answer.body %></p>
      <div class="post-user-info">
        <span class="post-username"><a href="/users/<%=answer.user_id%>"><%= find_username(answer.user_id) %></a></span>
      </div>
    </div>
  </div>

  <div class="answer-comments">
    <% answer.comments.each do |comment| %>
    <div class="individual-answer-comment">
      <span class="answer-comment-body"><%= comment.body %> - </span>
      <span class="answer-comment-author"><a href="/users/<%=comment.user_id%>"><%= find_username(comment.user_id) %></a></span>
      <span class="answer-comment-created-at"><%= format_time(comment.created_at) %></span>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="add-new-answer">
    <form id="new-answer" action="/questions/<%=@question.id%>/answers" method="post">
      <h2>Your Answer</h2>
      <% if logged_in? %>
      <div id="post-editor">
        <textarea id="answer-input" cols="80" rows="12" tabindex="101"></textarea>
      </div>
      <input type="submit" value="Post Your Answer" class="button">
      <% else %>
      <p class="foot-links"><a href="/users/login">Log in</a> or <a href="/users/new">sign up</a> to add your answer.</p>
      <% end %>
  </div>
</div>
